p {
    text-align: center;
    font-size: 16px;
}


b {
    text-align: center;
    font-size: 17px;
}

li {
    text-align: center;
    font-size: 16px;
}

#grad1 {
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, yellow); /* Standard syntax (must be last) */
}