{% block content %}

{% if validlink %}
<h3>Change password</h3>
<p>
    -Your password can't be too similar to your other personal information.<br>
    -Your password must contain at least 8 characters.<br>
    -Your password can't be a commonly used password.<br>
    -Your password can't be entirely numeric.<br>
</p>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p id="passwordError" style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}
  <button type="submit">Change password</button>
</form>
{% else %}
<p>
  The password reset link was invalid, possibly because it has already been used.
  Please request a new password reset.
</p>
<p><a style="color: deepskyblue" href="/forgot_password/">Go back to forgot password page</a></p>
{% endif %}

<p><a href="/">LPIRC2018 Home</a></p>
{% endblock %}