{% extends "app/base.html" %}

{% block title %}LPIRC 2018{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/style.css" %}">
{% endblock %}
{% block content %}

</style>

<body class="text-center">
    <a href="https://rebootingcomputing.ieee.org/lpirc">
        <img src="http://www.ewh.ieee.org/council/sfba/images/IEEErebootingcomputing.jpg" height="320">
    </a>
<div class="splash">
    <div class="center">
        <h1>Low Power Image Recognition Challenge</h1>
        <h1>Registration and Submissions Portal</h1>
	<div style="width: 50%; margin: 0 auto; text-align: left">
	<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Track 1: (<a href="/rules/" target="_blank" > description</a>)</h4></li>
	<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Track 2: (<a href="https://drive.google.com/open?id=1olt6oq87jwQRXtz3iExMsLJa9hJcKbrD" target="_blank" > description</a>, <a href="https://engineering.purdue.edu/HELPS/Publications/papers/2017ASPDAC.pdf">paper 1</a>, <a href="https://drive.google.com/open?id=1K12CJ9m2OcRUAYN_We9ISZ-TJ0nZBdU2">paper 2</a>, <a href="https://github.com/ieeelpirc/2018Track2"> SDK </a>)</h4> </li>
	<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	Track 3: (<a href="https://engineering.purdue.edu/HELPS/Publications/papers/2017ASPDAC.pdf"> paper 1</a>, <a href="https://drive.google.com/open?id=1K12CJ9m2OcRUAYN_We9ISZ-TJ0nZBdU2">paper 2</a>)</h4></li>
	</div>
    </div>
</div>
<div class="cover-container" align="center">
    <div class="row" align="center">
<!--
<div style="width: 50%; float:left" align="center">
-->
    <div class="d-md-flexæ÷  flex-items-center gutter-md-spacious">
        <div class="text-center">
	    <br><br>
            <div class="text-center" >
            {% if user.is_authenticated %}

                {% if user.registeruser.contract_signed == False %}

		{% if user.is_staff != True %}
		<h3><b style="color:red">You have not done the registration yet</b></h3>
		<h4>
                <p>Thank you for your registration. There is one more step. <br>
		    Please <b style="color:black"> read and sign <a target="_blank" href="https://na2.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=7f3e4ce4-0a5e-4707-b9b1-3b87ae892356">the terms of use signature</a> DocuSign contract</b>
                    to finish the registration. <br>
                    Once we received your contract, we will activate your account. This may take 1-2 working days.
		    <br><br><a href="/logout/">Logout</a>

                </p>
		</h4>
		{% endif %}
                {% else %}

		    <h2>Welcome to the submission site</h2>
		    <h4><br><a href="/rules/"><li>Track 1 submission guide</li></a><br>
                    <a href="/simple_upload/"><li>.tflite File Submission</li></a><br>
                    <a href="/score_board/"><li>score</li></a></h4>


                {% endif %}
            {% else %}
<!--
                <h1>Making a Submission</h1>
                <p>Please register for your group to make submissions

                <br><a href="/rules/">rules</a></p>
-->

            {% endif %}
            </div>
        </div>
    </div>
<!--
</div>
-->
<div class="container" style="width: 50%; float:right">
    {% if user.is_authenticated %}
        {% if user.is_staff %}
</div>
	<div align="center">
           <h4> <li id="adminSite"><a style="color:red" href="/admin/">Admin Site</a></li> </h4>
	</div>
        {% endif %}

	    {% if user.registeruser.contract_signed == True %}
</div>
        <div align="center">
	<h4>
        <li id="someprofile"><a href="/profile/">{{request.user.username}}'s Profile </a></li><br>

        <li><a href="/logout/">Logout</a></li>
	</h4>
	    {% endif %}
    {% else %}
</div>
    <div align="center">
        <p>
            <a class="oauth-btn btn btn-github " id="github_login"
               href="{% url 'social:begin' 'github' %}">
                <span class="fa fa-github"></span><btn class="btn-github">Sign in with Github</btn></a>
            <a class="oauth-btn btn btn-google"
               href="{% url 'social:begin' 'google-oauth2' %}">
                <span class="fa fa-google"></span>Sign in with Google</a>
        </p>

        <h4>- or -</h4>
        <h2 class="form-signin-heading">Log in</h2>
        <form role="form" action="" method="post" class="form-signin">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
        </p>
        {% endfor %}
    </div>
    <div align="center">
        <button type="submit" class="btn">Sign in</button>
        {% if form.non_field_errors %}
        <ul class='form-errors'>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </form>
    </div>
    <a href="/register/">Sign up</a>
    <br>
    <a href="/password_reset/">Forgot username or password?</a>

    {% endif %}
</div>
    </div>
</div>
{% block footer %}

<!--<style type="text/css">.FAQ {-->
  <!--padding: 8em 0;-->
  <!--background-color: #F2F5FE;-->
  <!--padding-left: 2.5%; }-->
  <!--@media (max-width: 768px) {-->
    <!--.FAQ {-->
      <!--padding: 2em 0; } }-->
  <!--.FAQ__itemHeader {-->
    <!--margin-bottom: 1em; }-->
  <!--.FAQ .centered-faq-big {-->
    <!--text-align: left; }-->
  <!--.FAQ button {-->
    <!--width: 100%; }-->
  <!--.FAQ .BottomItem {-->
    <!--padding-left: 2.5%; }-->
  <!--.FAQ_list {-->
    <!--display: -webkit-box;-->
    <!--display: -ms-flexbox;-->
    <!--display: flex;-->
    <!-- -webkit-box-orient: vertical;-->
    <!-- -webkit-box-direction: normal;-->
    <!-- -ms-flex-direction: column;-->
    <!--flex-direction: column;-->
    <!-- -webkit-box-pack: center;-->
    <!-- -ms-flex-pack: center;-->
    <!--justify-content: center; }-->
    <!--.FAQ_list_column {-->
      <!-- -webkit-box-flex: 1;-->
      <!-- -ms-flex: 1;-->
      <!--flex: 1;-->
      <!--max-width: 90%; }-->
    <!--@media (min-width: 768px) {-->
      <!--.FAQ_list_column {-->
        <!-- -webkit-box-flex: 1;-->
        <!-- -ms-flex: 1;-->
        <!--flex: 1;-->
        <!--max-width: 96%;-->
        <!--padding-right: 5%; } }-->
  <!--@media (min-width: 768px) {-->
    <!--.FAQ_list {-->
      <!--display: -webkit-box;-->
      <!--display: -ms-flexbox;-->
      <!--display: flex;-->
      <!-- -webkit-box-orient: horizontal;-->
      <!-- -webkit-box-direction: normal;-->
      <!-- -ms-flex-direction: row;-->
      <!--flex-direction: row;-->
      <!-- -webkit-box-pack: justify;-->
      <!-- -ms-flex-pack: justify;-->
      <!--justify-content: space-between; }-->
    <!--.FAQ .centered-faq-big {-->
      <!--text-align: center; } }-->

<!--.FAQItem {-->
  <!--margin-bottom: 4em;-->
  <!--padding-left: 0px !important; }-->
<!--</style>-->
<!--<div class="FAQ">-->
    <!--<div class="container">-->
        <!--<h1>FAQs</h1>-->
        <!--<div class="spacer"></div>-->
        <!--<div class="FAQ_list">-->
            <!--<div class="FAQ_list_column">-->
                <!--<div class="FAQItem">-->
                    <!--<h3 class="FAQ__itemHeader">How many accounts can each team have?</h3>-->
                    <!--<p class="">Each team can only have one account for submission.</p>-->
                <!--</div>-->
                <!--<div class="FAQItem">-->
                    <!--<h3 class="FAQ__itemHeader">How long will my account be activated after registered and finished DocuSign?</h3>-->
                    <!--<p class="">We will activate your account as soon as possible after verified with DocuSign.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="FAQ_list_column">-->
            <!--<div class="FAQItem">-->
                <!--<h3 class="FAQ__itemHeader">How long do I need wait for resubmission?</h3>-->
                <!--<p class="">In order to reduce the workload of the server, participants can only submit once every 24 hours.</p>-->
            <!--</div>-->
            <!--<div class="FAQItem">-->
                <!--<h3 class="FAQ__itemHeader">When will I get the test score of my model?</h3>-->
                <!--<p class="">We will notify participants when the scores are available. </p>-->
            <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="FAQItem BottomItem">-->
            <!--<h3 class="FAQ__itemHeader centered-faq-big">Other questions?</h3>-->
            <!--<p class=" centered-faq-big">Please don't hesitate to reach out to us at <a href="who's email">who's email</a>!</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="container">
    <hr class="divide-divider">
    <footer>

    </footer>
</div>

{% endblock %}

</body>
{% endblock %}
