{% extends "app/base.html" %}

{% block title %}LPIRC 2018{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/style.css" %}">
{% endblock %}
{% block content %}
<body class="text-center">
    <a href="https://rebootingcomputing.ieee.org/lpirc">
        <img src="http://www.ewh.ieee.org/council/sfba/images/IEEErebootingcomputing.jpg" height="320">
    </a>
<div class="splash">
    <div class="center">
        <h1>Low Power Image Recognition Challenge</h1>
        <h2>Registration and Submissions</h2>
    </div>
</div>
<div class="cover-container">
    <div class="row">
<div style="width: 50%; float:left">
    <div class="d-md-flex flex-items-center gutter-md-spacious">
        <div class="text-center">

            <div class="text-center" >
            {% if user.is_authenticated %}
                <h1>Making a Submission</h1>
                {% if user.registeruser.contract_signed == False %}
                <p>Thank you for your registration. <br>
                    You're seeing this message because we <b style="color:red">have not</b> received your terms of use signature<br>
                    In order to make submissions, you need to<br>
                    <b style="color:red">read and sign the <a href="/terms/">Terms of use</a> DocuSign contract.</b><br>
                    Once we received your contract, you will be able to submit your work. This may take 1-2 work days.
                </p>
                {% else %}
                    <p>*** submit ***
                        <br>********* <b>put submission rules TBA</b> *********</p>
                {% endif %}
            {% else %}
                <h1>Making a Submission</h1>
                <p>Please register for your group to make submissions
                    <br>********* <b>registration rules TBA</b> *********</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container" style="width: 50%; float:right">
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <li id="adminSite"><a href="/admin/">Admin Site</a></li>
        {% endif %}
        <li id="someprofile"><a href="/profile/">{{request.user.username}}'s Profile </a></li>
        <li><a href="/simple_upload/">.tfile File Submission</a></li>
        <li><a href="/logout/">Logout</a></li>
    {% else %}
    <div>
        <p>
            <a class="oauth-btn btn btn-github " id="github_login"
               href="{% url 'social:begin' 'github' %}">
                <span class="fa fa-github"></span><btn class="btn-github">Sign in with Github</btn></a>
            <a class="oauth-btn btn btn-google"
               href="{% url 'social:begin' 'google-oauth2' %}">
                <span class="fa fa-google"></span>Sign in with Google</a>
        </p>

        <h4>- or -</h4>
        <h2 class="form-signin-heading">Log in</h2>
        <form role="form" action="" method="post" class="form-signin">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
        </p>
        {% endfor %}
    </div>
    <div>
        <button type="submit" class="btn">Sign in</button>
        {% if form.non_field_errors %}
        <ul class='form-errors'>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </form>
    </div>
    <a href="/register/">Sign up</a>
    <br>
    <a href="/password_reset/">Forgot username or password?</a>

    {% endif %}
</div>
    </div>
</div>
{% block footer %}

<style type="text/css">.FAQ {
  padding: 8em 0;
  background-color: #F2F5FE;
  padding-left: 2.5%; }
  @media (max-width: 768px) {
    .FAQ {
      padding: 2em 0; } }
  .FAQ__itemHeader {
    margin-bottom: 1em; }
  .FAQ .centered-faq-big {
    text-align: left; }
  .FAQ button {
    width: 100%; }
  .FAQ .BottomItem {
    padding-left: 2.5%; }
  .FAQ_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .FAQ_list_column {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      max-width: 90%; }
    @media (min-width: 768px) {
      .FAQ_list_column {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        max-width: 96%;
        padding-right: 5%; } }
  @media (min-width: 768px) {
    .FAQ_list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .FAQ .centered-faq-big {
      text-align: center; } }

.FAQItem {
  margin-bottom: 4em;
  padding-left: 0px !important; }
</style>
<div class="FAQ">
    <div class="container">
        <h1>FAQs</h1>
        <div class="spacer"></div>
        <div class="FAQ_list">
            <div class="FAQ_list_column">
                <div class="FAQItem">
                    <h3 class="FAQ__itemHeader">How many accounts can each team have?</h3>
                    <p class="">Each team can only have one account for submission.</p>
                </div>
                <div class="FAQItem">
                    <h3 class="FAQ__itemHeader">How long will my account be activated after registered and finished DocuSign?</h3>
                    <p class="">We will activate your account as soon as possible after verified with DocuSign.</p>
                </div>
            </div>
            <div class="FAQ_list_column">
            <div class="FAQItem">
                <h3 class="FAQ__itemHeader">How long do I need wait for resubmission?</h3>
                <p class="">In order to reduce the workload of the server, participants can only submit once every 24 hours.</p>
            </div>
            <div class="FAQItem">
                <h3 class="FAQ__itemHeader">When will I get the test score of my model?</h3>
                <p class="">We will notify participants when the scores are available. </p>
            </div>
            </div>
        </div>
        <div class="FAQItem BottomItem">
            <h3 class="FAQ__itemHeader centered-faq-big">Other questions?</h3>
            <p class=" centered-faq-big">Please don't hesitate to reach out to us at <a href="who's email">who's email</a>!</p>
        </div>
    </div>
</div>


<div class="container">
    <hr class="divide-divider">
    <footer>
        <p class="pull-right hidden-xs"><a href="#">Back to top</a></p>
        <p><a href="/terms/">Terms of Use</a>   ·   <a href="/ack/">Acknowledgements</a>   ·   <a href="/faqs/">FAQs</a></p>
    </footer>
</div>

{% endblock %}

</body>
{% endblock %}
