{% extends "app/base.html" %}

{% block title %}LPIRC 2018{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "app/style.css" %}">
<style>
        #grad1 {
            height: 100%;
            width: 200px;
            background-color: red; /* For browsers that do not support gradients */
            background-image: linear-gradient(red, yellow); /* Standard syntax (must be last) */
        }
        </style>
{% endblock %}
{% block content %}
<div class="parallax-container">
        <div class="parallax"><img src="img/Rebooting_Computing_Logo.png"></div>
      </div>

<!-- <img class="materialboxed" width="650" src="https://www.ewh.ieee.org/council/sfba/images/IEEErebootingcomputing.jpg"> -->
    

{% endblock %}  



{% block footer %}
{% endblock %}
{% block scripts %}
<!-- <script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, inDuration);
  });
</script> -->
{% endblock %}