{% extends "app/base.html" %}
{% load static %}
{% block title %}LPIRC 2018{% endblock %}
{% block content %}
<div class="container">
<title>Register</title>
<h2>Register</h2>
<body class="text-center">
<form method="post">
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %}
               {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} style="color: red" class="{{ message.tags }}"
               {% else %} style="color: green" class="{{ message.tags }}"{% endif %}>{{ message }}</li>
             {% endif %}
          {% endfor %}
      </ul>
    {% endif %}

    {% csrf_token %}
    {% for field in form1 %} <!-- or for field in form2 -->
      <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
     {% endfor %}
      </p>
    {% endfor %}
    <div class="row">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha recaptcha-btn" text-align="center" display="inline-block" data-sitekey={{sitekey}}></div>
    </div>
    <div class="row">
    <p><div class="pull-left terms col-sm-7 col-xs-12">By clicking on "Sign Up" below, you are agreeing to the <a href="/terms/">Terms of Service</a> and the <a href="/privacy/">Privacy Policy</a>.</div></p>
    </div>
    <div class="row">
    <button type="submit" name="registerbutton" class="btn  center-block">Sign up</button>
    </div>
    <p><a href="/login/">Sign in</a></p>
    <p><a href="/">LPIRC2018 Home</a></p>
</form>
</body>
</div>
{% endblock %}
