{% block content %}
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</style>
<center style="border: 1px solid DodgerBlue">
  <p></p>
  <title>Rank</title>

  <p>Rank:</p>

 <table style="width:70%">
   <tr>
    <th></th>
    <th>Latency</th>
    <th>Test metric</th>
    <th>Acc on Classified</th>
    <th># Classified</th>
    <th>Acc/Time</th>
  </tr>
  {% for nameRank, runtimeRank, acc_clfRank, accRank, n_clfRank, acc_over_timeRank in zipRank %}
    <tr>
      <td>{{ nameRank }}</td>
      <td>{{ runtimeRank }}</td>
      <td>{{ acc_clfRank }}</td>
      <td>{{ accRank }}</td>
      <td>{{ n_clfRank}}</td>
      <td>{{ acc_over_timeRank}}</td>
  </tr>
  {% endfor %}
</table>

  <p> Current User's run time: {{ name }} </p>

 <table style="width:70%">
   <tr>
    <th>Submit Time</th>
    <th>Latency</th>
    <th>Test metric</th>
    <th>Acc on Classified</th>
    <th># Classified</th>
    <th>Acc/Time</th>
  </tr>
  {% for time, runtimeScore, acc_clfScore, accScore, n_clfScore, acc_over_timeScore in zipScore %}
    <tr>
      <th>{{ time }}</th>
      <td>{{ runtimeScore }}</td>
      <td>{{ accScore }}</td>
      <td>{{ acc_clfScore }}</td>
      <td>{{ n_clfScore }}</td>
      <td>{{ acc_over_timeScore }}</td>
  </tr>
  {% endfor %}
</table>


  <p><a href="/">LPIRC2018 Home</a></p>
</center>
{% endblock %}
