{% block content %}
<center style="border: 1px solid DodgerBlue">
  <p></p>
  <title>Submit</title>
  <h1>The orientation of submission</h1>
  <div align="left">
    <p>
      Note: you will see a message saying your submission was successful. If no message or error message was displayed,
      it means the submission failed and we did not receive your file. for more information, please contact <a href="mailto:lpirc@ecn.purdue.edu">lpirc@ecn.purdue.edu<a>
    </p>
    <p>
      Track 1 restriction:
      <li>File format has to be either .lite or .tflite </li>
      <li>Maximum of 3 submissions per day. </li>
      <br>
      Track 2:
      <li>It is recommended that you submit all files in a zip folder. </li>
      <li>Participants must use Caffe2 and submit executable Python files.</li>
      <li>Please include instruction on how to run the code in a Readme file. </li>
      <br>
      Track 1 and Track 2 restriction:
      <li>Filename must match your account username</li>
    </p>
</div>
  <div>
  Track1: <input type="checkbox" id="myCheck"  onclick="myFunction()">
  </div>
  <div>
  Track2: <input type="checkbox" id="myCheck2"  onclick="myFunction2()">
  </div>

<div id="text" style="display:none">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

</div>
<div id="text2" style="display:none">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile2">
    <button type="submit">Upload</button>
  </form>

</div>


<script>
function myFunction() {
    var checkBox = document.getElementById("myCheck");
    //document.getElementById("mycheck2").checked = false;
    var elm = document.getElementById('myCheck2');
    if (elm.checked == true) {
      elm.click();
    }
    var text = document.getElementById("text");
    if (checkBox.checked == true){
        text.style.display = "block";
    } else {
       text.style.display = "none";
    }
}
function myFunction2() {
    var checkBox = document.getElementById("myCheck2");
    var elm = document.getElementById('myCheck');
    if (elm.checked == true) {
      elm.click();
    }
    //document.getElementById("mycheck").checked = false;
    var text = document.getElementById("text2");
    if (checkBox.checked == true){
        text.style.display = "block";
    } else {
       text.style.display = "none";
    }
}
</script>
  {% if uploaded_file_url %}
    <p>Track 1 File uploaded: {{ uploaded_file_url }}</p>
  {% endif %}
  {% if wrong_file %}
    <p>{{ wrong_file }}</p>
  {% endif %}

  {% if uploaded_file_url2 %}
    <p>Track 2 File uploaded: {{ uploaded_file_url2 }}</p>
  {% endif %}
  {% if wrong_file2 %}
    <p>{{ wrong_file2 }}</p>
  {% endif %}
  {% if invalid_model %}
    <p>Submission rejected: {{ invalid_model }} did not pass the <a href="https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/lite/java/ovic#run-tests" tager="blank">bazel test</a></p>
  {% endif %}
  {% if error_message %}
    <p>Failed to submit file: {{ error_message }}</p>
  {% endif %}
  <p><a href="/">LPIRC2018 Home</a></p>
</center>
{% endblock %}
