{% block content %}
<center style="border: 1px solid DodgerBlue">
  <p></p>
  <title>Submit</title>
  <h1>The orientation of submission</h1>
  <div>
  Track1: <input type="checkbox" id="myCheck"  onclick="myFunction()">
  </div>
  <div>
  Track2: <input type="checkbox" id="myCheck2"  onclick="myFunction2()">
  </div>
  
<div id="text" style="display:none">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded: {{ uploaded_file_url }}</p>
  {% endif %}
  {% if wrong_file %}
    <p>{{ wrong_file }}</p>
  {% endif %}
</div>
<div id="text2" style="display:none">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile2">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url2 %}
    <p>File uploaded: {{ uploaded_file_url2 }}</p>
  {% endif %}
  {% if wrong_file2 %}
    <p>{{ wrong_file2 }}</p>
  {% endif %}
</div>


<script>
function myFunction() {
    var checkBox = document.getElementById("myCheck");
    //document.getElementById("mycheck2").checked = false;
    var elm = document.getElementById('myCheck2');
    if (elm.checked == true) {
      elm.click();
    }
    var text = document.getElementById("text");
    if (checkBox.checked == true){
        text.style.display = "block";
    } else {
       text.style.display = "none";
    }
}
function myFunction2() {
    var checkBox = document.getElementById("myCheck2");
    var elm = document.getElementById('myCheck');
    if (elm.checked == true) {
      elm.click();
    }
    //document.getElementById("mycheck").checked = false;
    var text = document.getElementById("text2");
    if (checkBox.checked == true){
        text.style.display = "block";
    } else {
       text.style.display = "none";
    }
}
</script>

  <h6>Alert: Please reclick the previous checkbox to check the submission result.</h6>
  <p><a href="/">LPIRC2018 Home</a></p>
</center>
{% endblock %}
