<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 3pt; text-align: center;"><span style="font-size: 18pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">LPIRC CVPR 2018 Track 2 FAQs</span></p>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: center;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Latest Update:05/17/2018</span></p>
<p>&nbsp;</p>

<!-- this is FAQs section -->
<h2 style="line-height: 1.38; margin-top: 18pt; margin-bottom: 6pt;"><span style="font-size: 16pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">FAQs</span></h2>
<h4 style="line-height: 1.38; margin-top: 14pt; margin-bottom: 4pt;"><span style="font-size: 12pt; font-family: Arial; color: #666666; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Is Track 2 on-site? </span></h4>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">No, it is done using ONLINE SUBMISSION. Please note that Track 2, which is designed for the participants using Caffe2+TX2, is NOT an onsite competition. Track 2 requires the participants to submit their design, starting on May 25 and ending on June 10, so that the track organizer can measure the power consumption and accuracy of the design on a standardized platform. No onsite competition phase is arranged

However, if you are using other hardware other than TX2, or using a customized TX2 board, or using tools other than Caffe 2, please participated in track 2 instead. For example, Caffe 1 + TX1, Caffe 2 +TX1, and Caffe 1 + TX2 all go to track 3. But Caffe 2 + TX 2 (standard version) goes to track 2.

If you have any questions, if do not hesitate to send email to Prof. Chen (<a href="mailto:yiran.chen@duke.edu"><span style="font-size: 11pt; font-family: Arial; color: #1155cc; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">yiran.chen@duke.edu</span></a>) or Jingchi Zhang (<a href="mailto:jingchi.zhang@duke.edu"><span style="font-size: 11pt; font-family: Arial; color: #1155cc; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">jingchi.zhang@duke.edu</span></a>).</span></p>
<h4 style="line-height: 1.38; margin-top: 14pt; margin-bottom: 4pt;"><span style="font-size: 12pt; font-family: Arial; color: #666666; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">What is the time limit in Tracks 2?</span></h4>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">10 minutes </p>

<h4 style="line-height: 1.38; margin-top: 14pt; margin-bottom: 4pt;"><span style="font-size: 12pt; font-family: Arial; color: #666666; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">How many images in Tracks 2?</span></h4>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">20,000 </p>

<h4 style="line-height: 1.38; margin-top: 14pt; margin-bottom: 4pt;"><span style="font-size: 12pt; font-family: Arial; color: #666666; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If a team finished 20,000 images, how can the team reduce energy consumption?</span></h4>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">You can reduce the clock frequency to reduce power consumption. You can log out from the server and the power meter stops.</p>

<h4 style="line-height: 1.38; margin-top: 14pt; margin-bottom: 4pt;"><span style="font-size: 12pt; font-family: Arial; color: #666666; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Do we need to retrieve all images before processing?</span></h4>
<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">You decide the sequence. You can retrieve all images before processing. You can retrieve one image and process one image. You can retrieve multiple images and process them.</p>


    <h2 style="line-height: 1.38; margin-top: 18pt; margin-bottom: 6pt;"><span style="font-size: 16pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Timeline</span></h2>
    <p>&nbsp;</p>
    <table style="border: none; border-collapse: collapse;">
    <tbody>
    <tr style="height: 0pt;">
    <td style="vertical-align: top; padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
    <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Registration and submission open</span></p>
    </td>
    <td style="vertical-align: top; padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
    <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">March 22 2018</span></p>
    </td>
    </tr>
    <tr style="height: 0pt;">
    <td style="vertical-align: top; padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
    <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Evaluation server online</span></p>
    </td>
    <td style="vertical-align: top; padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
    <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">April 15 2018</span></p>
    </td>
    </tr>
    <tr style="height: 0pt;">
    <td style="vertical-align: top; background-color: #fff2cc; padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
    <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Submission open</span></p>
    </td>
    <td style="vertical-align: top; background-color: #fff2cc; padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
    <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">May 25, 2018</span></p>
    </td>
    </tr>
    <tr style="height: 0pt;">
    <td style="vertical-align: top; padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
    <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Submission closed</span></p>
    </td>
    <td style="vertical-align: top; padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
    <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">June 10th 2018</span></p>
    </td>
    </tr>
    <tr style="height: 0pt;">
    <td style="vertical-align: top; padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
    <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Winner announced</span></p>
    </td>
    <td style="vertical-align: top; padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
    <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">June 18 2018</span></p>
    </td>
    </tr>
    </tbody>
    </table>
    <p><br /><br /><br /></p>
